header {
    height: 103px;
    width: 100%;
    /*background-image: url("../assets/img/background.png");
    background-size: cover;*/
}

.navbar {
    padding: 30px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
    align-items: center;
}

.navbar a {
    color: white;
    font-size: 20px;
}

.navbar .logo-text {
    font-size: 2em;
    font-weight: bold;
}

.navbar .nav-links ul {
    display: flex;
    align-items: center;
}

.navbar .nav-links ul li {
    margin: 0 25px;
}

.navbar .nav-links ul li.active a {
    /*color: linear-gradient(41deg, rgba(0,175,235,1) 29%, rgba(161,83,243,1) 75%);*/
    font-size: 20px;
    background: linear-gradient(41deg, rgba(0,175,235,1) 29%, rgba(161,83,243,1) 75%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    /*background: rgb(0,175,235);*/


}


.menu-btn {
    position: absolute;
    display: none;
    top: 50px;
    right: 50px;
    width: 35px;
    height: 35px;
    align-items: center;
    cursor: pointer;
    transition: all .5s ease-in-out;
}

.menu-btn__burger {
    width: 35px;
    height: 4px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(255,101,47,.2);
    transition: all 0.5s ease-in-out;
}

.menu-btn__burger::before,
.menu-btn__burger::after {
    content: '';
    position: absolute;
    width: 35px;
    height: 4px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(255,101,47,.2);
    transition: all 0.5s ease-in-out;
}

.menu-btn__burger::before {
    transform: translateY(-13px);
}

.menu-btn__burger::after {
    transform: translateY(13px);
}

.menu-btn.open .menu-btn__burger {
    transform: translateX(-35px);
    background: transparent;
    box-shadow: none;
}

.menu-btn.open .menu-btn__burger::before {
    transform: rotate(45deg) translate(25px, -25px);
}

.menu-btn.open .menu-btn__burger::after {
    transform: rotate(-45deg) translate(25px, 25px);
}





@media screen and (max-width: 900px) {
    .navbar {
        padding: 0;
    }

    .menu-btn {
        display: flex;
    }

    .navbar .logo-text {
        position: absolute;
        top: 50px;
        left: 50px;
    }
    
    .nav-links {
        top: 0;
        left: 0;
        position:absolute;
        background-color: rgba(255, 255, 255, 0.192);
        backdrop-filter: blur(7px);
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: -100%;
        transition: all 0.5s ease-in-out;
    }


    .nav-links.mobile-menu {
        margin-left: 0;
    }


    .nav-links ul {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .navbar .nav-links ul li {
        margin: 25px 0px;
        
        font-size: 1.5em;
    }
}