* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: 'Nunito', sans-serif;
    background-image: url("../assets/img/background.png");
    background-size: auto;
}


::-webkit-scrollbar {
    display: none;
}