* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: 'Nunito', sans-serif;
    background-image: url("../assets/img/background.png");
    //background: linear-gradient(41deg, rgb(0, 175, 235) 29%, rgb(161, 83, 243) 75%);;
    background-size: auto;
}

::-webkit-scrollbar {
    display: none;
}